<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snbo.eduService.mapper.EduCourseMapper">
    <select id="getPublishCourseInfo" resultType="org.snbo.eduService.bean.vo.CoursePublishInfo">
        SELECT course.`id`,
               course.`title`,
               course.`lesson_num`,
               course.`price`,
               course.`cover`,
               des.`description`,
               teach.`name` AS teacher_name,
               sub1.`title` AS one_subject,
               sub2.`title` AS two_subject
        FROM edu_course course
                 LEFT OUTER JOIN edu_course_description des ON course.`id` = des.`id`
                 LEFT OUTER JOIN edu_teacher teach ON course.`teacher_id` = teach.`id`
                 LEFT OUTER JOIN edu_subject sub1 ON course.`subject_parent_id` = sub1.`id`
                 LEFT OUTER JOIN edu_subject sub2 ON course.`subject_id` = sub2.`id`
        WHERE course.`id` = #{courseId}
    </select>

    <select id="getFrontCourseInfo" resultType="org.snbo.eduService.bean.frontVo.CourseFrontInfoVo">
        SELECT course.`id`,
               course.`title`,
               course.`lesson_num`,
               course.`price`,
               course.`cover`,
               course.`buy_count`,
               course.`view_count`,
               des.`description`,
               teach.`id`   AS teacher_id,
               teach.`name` AS teacher_name,
               teach.`intro`,
               teach.`avatar`,
               sub1.`id`    AS subject_level_one_id,
               sub1.title   AS subject_level_one,
               sub2.`id`    AS subject_level_two_id,
               sub2.title   AS subject_level_two
        FROM edu_course course
                 LEFT OUTER JOIN edu_course_description des ON course.`id` = des.`id`
                 LEFT OUTER JOIN edu_teacher teach ON course.`teacher_id` = teach.`id`
                 LEFT OUTER JOIN edu_subject sub1 ON course.`subject_parent_id` = sub1.`id`
                 LEFT OUTER JOIN edu_subject sub2 ON course.`subject_id` = sub2.`id`
        WHERE course.id = #{courseId}
    </select>

    <select id="getOrderCourseInfo" resultType="org.snbo.commonutils.vo.CourseOrderVo">

        SELECT course.`id`,
               course.`title`,
               course.`price`,
               course.`cover`,
               teach.`name` AS teacher_name
        FROM edu_course course
                 LEFT OUTER JOIN edu_teacher teach
                                 ON course.`teacher_id` = teach.`id`
        WHERE course.id = #{courseId}
    </select>
    
    <select id="getCourseCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `edu_course`
        WHERE DATE(gmt_create) = #{day}
    </select>
</mapper>
